html, body, section, head, header, footer, content, main, aside, div, p, h1, h2, h3, h4, h5, h6, ol, ul, li, a, img, nav, pre, span, i, em, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, html {
    touch-action: none;
}

.wrapper {
    width: 100%;
}

.frame{
    overflow-x: hidden;
    width: 100%;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.bg1{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*
.bg2{
    top: -1px;
    width: 100%;
    height:calc(100vh + 1px);
    background: #000066;
    position: relative;
    animation: bg-chenger 10s linear forwards infinite alternate;
    border: none;
}
*/

.separator-line{
    width: 100%;
    height: 8vh;
    font-size: 2.7vh;
    background: #ffffff;
    position: relative;
    text-align: center;
}

.img-box img {
    /*top: 1px;*/
    border: 0px;
    position: absolute;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.16rem;
    height: 0.16rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 8px #fff,0 0 16px #fff,0 0 24px #fff,0 0 30px #fff;
    animation: bg-animation 5s linear forwards;
}
/* 光の軌跡 */
.line::before {
    content: "";
    position: absolute;
    top: -60vh;
    left: 25%;
    width: 50%;
    height: 60vh;
    background: linear-gradient(transparent,#fff);
    opacity: 0.5;
}
@keyframes bg-animation{
    0%{
        transform: translateY(-13rem);
    }
    100%{
        transform: translateY(10rem);
    }
}
@keyframes bg-chenger{
    0%{
        background: #000045;
    }
    50%{
        background: #000066;
    }
    100%{
        background: #00009f;
    }
}